body
{
  /*background-image: url("../imges/img_tree.png");
  background-position:center top;
  background-repeat: no-repeat;*/
  background: url("../imges/img_tree.png") right top no-repeat;
  background-attachment: fixed;
}

h1
{
  text-align: center;
}

.download
{
  color: red;
}
